<p>
  <b>Name:</b>
  <%=h @template.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @template.description %>
</p>


<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>