html, body {
  font-family: 'Lucida Grande',Tahoma,sans-serif;
}

a:hover {
  text-decoration: none;
}

#container {
  width: 700px;
  padding: 0 50px;
  margin: 0 auto;
  overflow: hidden;
}

#header {
  padding: 2em 0;
  margin: 0 0 2em 0;
}
#header h1 {
  font-size: 197%;
}
#header h1 a {
  text-decoration: none;
}

#main {
  overflow: hidden;
}
#main #nav {
  float: left;
  width: 11em;
  margin: 0;
  text-align: left;
  overflow: hidden;
}
#main #nav ul li {
  margin: 0 0 1em;
}
#main #nav ul li.current {
  font-weight: bold;
}
#main #nav ul li.current a {
  text-decoration: none;
}
#main #content {
  margin-left: 13em;
}
#main .part.html h2 {
  font-size: 131%;
  font-weight: bold;
}
#main .part.html p, #main .part.html ul, #main .part.html ol, #main .part.html dl, #main .part.html th, #main .part.html td {
  font-size: 95%;
  line-height: 1.5;
}
#main .part.html img {
  padding: 2px;
  border: 1px solid #cccccc;
}
#main .part.html th {
  font-weight: bold;
  border-bottom: 3px double #cccccc;
}
#main .part.html td {
  border-bottom: 1px solid #cccccc;
}
#main .part.html tr:last-child td {
  border-bottom: none;
}
#main .part + .part {
  border-top: 2px solid #cccccc;
  padding-top: 1em;
}

.edit_part_form .textarea {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
}
.edit_part_form .textarea textarea {
  border: 1px solid #aaaaaa;
}

div.textile-toolbar {
  margin: 0 !important;
}
div.textile-toolbar button img {
  border: none !important;
  padding: 0 !important;
}

#footer {
  text-align: center;
  border-top: 1px solid #cccccc;
  padding: 1em 0;
  margin: 2em 0 0;
}
