@import url(common.css);
html, body {
  background-color: #dddddd;
  color: #333333;
}

a {
  color: #336699;
}
a:hover {
  background-color: #dfefff;
}

#container {
  background-color: #ffffff;
}

#header {
  border-bottom: 2px solid #aaaaaa;
}
#header h1 {
  font-size: 197%;
}
#header h1 a {
  color: #333333;
}
#header h1 a:hover {
  background-color: transparent;
}

#main .part + .part {
  border-color: #cccccc;
}
