@import url(common.css);
html, body {
  background-color: #1E180A;
  color: #B3A896;
}

a {
  color: #7A6C5F;
}
a:hover {
  color: #B3A896;
  background-color: #3F3B33;
}

#container {
  background-color: #302D26;
}
#container #main {
  overflow: hidden;
}
#container #main #nav li.current a {
  color: #B3A896;
}

#header {
  border-bottom: 2px solid #514B3F;
}
#header h1 {
  font-size: 197%;
}
#header h1 a {
  color: #B3A896;
}
#header h1 a:hover {
  background-color: transparent;
}

#main .part.html img {
  border-color: #514B3F;
}
#main .part.html th {
  border-color: #514B3F;
}
#main .part.html td {
  border-color: #514B3F;
}
#main .part + .part {
  border-color: #514B3F;
}

#footer {
  text-align: center;
  border-top: 1px solid #514B3F;
}
#footer a {
  color: #B3A896;
}
