body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #333333;
	background: #eeeeee url('/images/bg.png') top center repeat-y;
	}

a {
	color: #336699;
	}

	a:hover {
		background-color: #DFEFFF;
		text-decoration: none;
		}

h1 {
	color: #336699;
	font-size: 130%;
	font-weight: bold;
	margin: 0;
	padding: 0;
	}

img {
	border: 0;
	vertical-align: middle;
	}

#container {
	width: 990px;
	margin: 0 auto;
	overflow: auto;
	}

#header {
	background: transparent url('/images/header_bg.png') top left repeat-x;
	overflow: auto;
	margin: 0 0 1em;
	}

	#header img {
		display: block;
		float: left;
		margin: 20px 0 0 20px;
		}

#body {
	margin: 0;
	overflow: hidden;
	font-size: 90%;
	}

#search {
	margin: 16px 0 0 100px;
	padding: 0;
	font-size: 70%;
	color: #666666;
	overflow: auto;
	}

	#search .column {
		text-align: left;
		float: left;
		margin: 0 1em 0 0;
		}

	#search input[type='submit'] {
		margin-top: 1em;
		}

	#search label {
		font-weight: bold;
		display: block;
		}

	#keywords {
		width: 15em;
		}

	#location {
		width: 8em;
		}

#categories {
	float: left;
	width: 200px;
	}

	#categories ul {
		margin: 0;
		padding: 0 0 0 10px;
		list-style: none;
		font-weight: bold;
		line-height: 1.5;
		}

	#categories ul ul {
		margin: 0 0 10px 10px;
		padding: 0;
		list-style: none;
		font-weight: normal;
		}

	#categories li {
		padding: 0 0 0 5px;
		}

		#categories li.active {
			background-color: #ffffff;
			}

		#categories li a {
			display: block;
			text-decoration: none;
			}
		
		#categories li a:hover {
			background-color: transparent;
			text-decoration: underline;
			}

#help {
	float: left;
	width: 180px;
	padding: 0 10px;
	font-size: 90%;
	color: #666666;
	}

	#help h3 {
		margin: 0 0 .5em;
		padding: 0;
		}

	#help ul {
		margin: 0 0 0 1em;
		padding: 0;
		list-style: square;
		}

		#help li {
			margin: .5em 0;
			}

#new_ad {
	}

	#new_ad label {
		font-weight: bold;
		display: block;
		margin: 1em 0 0;
		}

		#new_ad label span {
			font-weight: normal;
			font-size: 85%;
			color: #999999;
			}

	#new_ad input {
		font-size: 120%;
		}
	
	#new_ad textarea {
		width: 600px;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 120%;
		}

#save_bar {
	border-top: 3px double #cccccc;
	padding: 1em;
	margin: 1em 0;
	text-align: center;
	}

#main {
	padding: 0 1em;
	float: left;
	width: 750px;
	}

#add {
	text-align: right;
	margin: 0 0 1em;
	font-weight: bold;
	}

	#add a:hover {
		background-color: transparent;
		}

table#ads {
	width: 100%;
	margin: 0;
	font-size: 90%;
	}

	table#ads tr.alt {
		background-color: #eeeeee;
		}

	table#ads th {
		text-align: left;
		border-bottom: 3px double #cccccc;
		color: #666666;
		padding: 0 .5em .5em;
		}

	table#ads td {
		padding: .5em;
		}

		table#ads td.date {
			color: #999999;
			font-size: 90%;
			}

		table#ads td.title {
			font-weight: bold;
			}

		table#ads td.title span.posted_in {
			font-weight: normal;
			color: #999999;
			font-size: 85%;
			display: block;
			}

.ad {
	width: 750px;
	}

	.ad div#title {
		float: left;
		}

	.ad h1 {
		margin: 0;
		padding: 0;
		font-size: 150%;
		}

	.ad h2 {
		font-size: 100%;
		margin: 0 0 1em;
		padding: 0;
		color: #999999;
		font-weight: normal;
		}

	.ad h3 {
		margin: 0 0 .4em;
		padding: 0;
		color: #666666;
		font-weight: normal;
		font-size: 100%;
		}

	.ad div#location_and_price {
		float: right;
		}

	.ad .description {
		clear: left;
		line-height: 1.2
		}

#contact {
	text-align: center;
	margin: 1em 0;
	font-weight: bold;
	}

#footer {
	margin: 0 auto;
	padding: 1em;
	text-align: right;
	background-color: #ffffff;
	}