body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #333333;
	background: #eeeeee url('/images/bg.png') top center repeat-y;
	}

a {
	color: #336699;
	}

#container {
	width: 990px;
	margin: 0 auto;
	}

#header {
	background: transparent url('/images/header_bg.png') top left repeat-x;
	}

	#header img {
		margin: 20px 0 0 20px;
		}

#body {
	margin: 0;
	}

#categories {
	float: left;
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
	font-weight: bold;
	font-size: 90%;
	width: 190px;
	line-height: 1.5;
	}

	#categories > li {
		margin-top: .5em;
		}

	#categories ul {
		margin: 0 0 10px 10px;
		padding: 0;
		list-style: none;
		font-weight: normal;
		}

	#categories li {
		padding: 0 0 0 5px;
		}

		#categories li.active {
			background-color: #ffffff;
			}

		#categories li a {
			display: block;
			text-decoration: none;
			}
		
		#categories li a:hover {
			text-decoration: underline;
			}
			
#main {
	float: left;
	padding: 0 1em;
}

table#ads {
	width: 750px;
	margin: 0;
	font-size: 80%;
	}

	table#ads tr.alt {
		background-color: #eeeeee;
		}

	table#ads th {
		text-align: left;
		border-bottom: 3px double #cccccc;
		color: #666666;
		padding: 0 .5em .5em;
		}

	table#ads td {
		padding: .5em;
		}

		table#ads td.date {
			color: #999999;
			}

		table#ads td.title {
			font-weight: bold;
			}

#breadcrumbs {
	font-size: 80%;
	margin: 0 0 1em;
	padding: 0 0 1em;
	border-bottom: 1px dotted #cccccc;
	font-weight: bold;
	}
