html {
  color: #000000;
  background: #ffffff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  *font-size: small;
  *font: x-small;
}

table {
  font-size: inherit;
  font: 100%;
}

pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

p {
  margin: 1em 0;
}
p:first-child {
  margin-top: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  outline: none;
  padding: 0 2px;
}

input.default, textarea.default {
  font-style: italic;
  color: #aaaaaa;
}

input.submit {
  width: auto !important;
}

.blank {
  padding: 1em;
  background-color: #ffffcc;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.blank a {
  color: #8F4600;
}
.blank a:hover {
  background-color: #ffcc99;
}

#save_bar a.cancel {
  color: #990000;
}

.part.html h1 {
  font-size: 146.5%;
  font-weight: bold;
}
.part.html h2 {
  font-size: 131%;
  font-weight: bold;
}
.part.html h3 {
  font-size: 116%;
  font-weight: bold;
}
.part.html h4 {
  font-size: 108%;
  font-weight: bold;
}
.part.html h5 {
  font-size: 100%;
  font-weight: bold;
}
.part.html h6 {
  font-size: 93%;
  font-weight: bold;
}
.part.html ul, .part.html ol {
  margin: 1em 1em 1em 2em;
}
.part.html ul li {
  list-style-type: square;
}
.part.html ol li {
  list-style-type: decimal;
}
.part.html dl {
  margin: 1em 0;
}
.part.html dl dt {
  font-weight: bold;
}
.part.html dl dd {
  margin: auto auto 1em;
}
.part.html table {
  width: 100%;
}
.part.html blockquote {
  margin: 1em 2em;
}

.view {
  border: 1px solid transparent;
}

#new_part {
  font-size: 93%;
}
#new_part h4 {
  font-size: 108%;
  font-weight: bold;
}
#new_part p {
  margin: 0;
}
#new_part .part_type {
  cursor: pointer;
  background-color: #dfffdf;
  color: #003F00;
  padding: 1em;
  margin: 0 0 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#new_part .part_type a {
  color: #009900;
}

.edit_part_form {
  margin: 0 0 2em;
  overflow: hidden;
}
.edit_part_form .textarea {
  padding: 0 0.5em 0.5em;
}
.edit_part_form .textarea textarea {
  width: 99%;
  height: 18em;
  font-size: 93%;
  line-height: 1.5;
  border: 1px solid #aaaaaa;
}
.edit_part_form .save {
  margin: 0.5em 0 0;
  float: left;
}
.edit_part_form .delete {
  margin: 0.5em 0 0;
  float: right;
  display: block;
}

#nav li.admin {
  text-align: center;
}

a.admin {
  display: block;
  font-size: 85%;
  padding: 3px 4px;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

a.new {
  float: left;
  overflow: hidden;
  background-color: #bfffbf;
  color: #009900;
  padding-right: 10px;
}
a.new:hover {
  background-color: #009900;
  color: #ffffff;
}

a.edit {
  background-color: #FFADAD;
  color: #990000;
  position: absolute;
  margin-left: -3em;
}
a.edit:hover {
  background-color: #990000;
  color: #ffffff;
}
a.edit:hover + .view {
  border: 1px dashed #FF7878;
}

a.delete {
  background-color: #990000;
  color: #ffffff;
}
a.delete:hover {
  background-color: #ff0000;
}

#new_page_form {
  font-size: 85%;
}
#new_page_form input#new_page_name {
  width: 12em;
  margin: 0 0 0.2em;
}

#admin {
  background: transparent url('/images/admin_bg-medium2.jpg') top center repeat-y;
  color: #ffffff;
  font-size: 85%;
  overflow: hidden;
}
#admin .links {
  overflow: hidden;
  margin: 0 0 1em;
  padding: 1em;
  background-color: rgba(0,0,0,.2);
}
#admin .links a {
  background-color: transparent;
  text-decoration: underline;
  color: #ffffff;
}
#admin ul li {
  display: inline;
  margin: 0 0.3em 0;
}
#admin ul.sections {
  float: left;
}
#admin ul.account {
  float: right;
}
#admin #sections {
  width: 100%;
  padding: 0 1em;
}
#admin #sections .section {
  overflow: auto;
}
#admin #sections #appearance ul li {
  float: left;
  margin: 0 1em 0;
  width: 175px;
}
#admin #sections #appearance ul li.current img {
  border: 2px solid #ffcc99;
}
#admin #sections #appearance ul li a {
  outline: none;
}
#admin #sections #appearance ul li a img {
  border: 2px solid #1F1104;
  -moz-box-shadow: #1F1104 3px 3px 5px;
  -webkit-box-shadow: #1F1104 3px 3px 5px;
  outline: none;
}
#admin #sections #appearance ul li a:hover {
  background-color: transparent;
}
#admin #sections #appearance ul li a:hover img {
  border: 2px solid #ffffff;
}
#admin #sections #appearance ul li h3 {
  font-size: 131%;
  margin: 0.2em 0;
}

#notice {
  background-color: #009900;
  color: #ffffff;
  padding: 0.5em;
  margin: 1em 0;
  text-align: center;
}

#login {
  font-size: 116%;
  min-height: 400px;
}
#login label {
  display: block;
  float: left;
  clear: left;
  width: 10em;
  text-align: right;
  margin: 0.2em 0.5em;
}
#login input {
  display: block;
  margin: 0 0 0.5em;
  width: 14em;
}
#login .remember {
  margin: 0 0 0 11em;
}
#login .remember input {
  display: inline;
  float: none;
  margin: 0;
  width: auto;
}
#login .remember label {
  display: inline;
  float: none;
  margin: 0;
  font-size: 85%;
}
#login .forgot {
  font-size: 73%;
  margin: -0.3em 0 0 23.6em;
  display: block;
}
#login #submit {
  margin: 1em 0 0 15.5em;
}
#login #submit input {
  width: auto;
  font-size: 85%;
}
#login #sell {
  margin: 3em 0 0;
  text-align: center;
  font-size: 77%;
}
#login #sell p {
  margin: 0;
}

#debug {
  padding: 2em 1em 2em 3em;
}
#debug a {
  display: block;
}
#debug div {
  margin: 1em 0 1em;
}
#debug table tr:hover {
  background-color: #ffffcc;
}
#debug table trlast-child td {
  border-bottom: none;
}
#debug table tr td {
  padding: 0.2em;
  border-bottom: 1px solid #cccccc;
}
#debug table tr td:first-child {
  font-weight: bold;
}
