<form id="search" name="search" method="post">
  <div class="column">
    <label for="keywords">Keywords</label>
    <input type="text" name="keywords" id="keywords" value="" /> &nbsp;or 
  </div>
  <div class="column">
    <label for="location">Location</label>
    <input type="text" name="location" id="location" value="" />
  </div>
  <div class="column">
    <input type="submit" name="commit" value="Search" />
  </div>
</form>
