<%# render :partial => 'breadcrumbs', :locals => { :breadcrumbs => @breadcrumbs } %>

<%= render :partial => 'categories', :locals => { :categories => @categories } %>

<% if @ads %>
  <% if @ads.empty? %>
    <p>No ads have been posted in this section. <%= link_to 'Add one now', :controller => 'ads', :action => 'new' %></p>
  <% else %>
    <table id="ads" class="list" cellspacing="0">
      <thead>
        <tr>
          <th>When</th>
          <th>What</th>
          <th>Who</th>
          <th>Where</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => 'ad', :collection => @ads %>
      </tbody>
    </table>
  <% end %>
<% end %>